alabaster==1.0.0
amqp==5.3.1
asgiref==3.12.1
babel==2.18.0
billiard==4.2.4
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==6.1
docutils==0.22.4
et_xmlfile==2.0.0
idna==3.18
imagesize==2.0.0
Jinja2==3.1.6
kombu==5.6.2
lxml==6.1.1
MarkupSafe==3.0.3
openpyxl==3.1.5
packaging==26.3
prompt_toolkit==3.0.53
psycopg==3.3.4
psycopg-c==3.3.4
Pygments==2.20.0
python-dateutil==2.9.0.post0
requests==2.34.2
roman-numerals==4.1.0
Sickle==0.7.0
six==1.17.0
snowballstemmer==3.1.1
Sphinx==9.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.6.0
tzdata==2026.3
tzlocal==5.4.4
Unidecode==1.4.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.2
xlrd==2.0.2
